{% extends 'base/main.html' %}
{% block content %}


<h1 style="color:#0c0003; margin:0.4rem;text-align: center; ">To Do List APP</h1>
<div style="height: 74vh;">
	{% if request.user.is_authenticated %}
	<div style="display: flex; justify-content: space-between;">
		<span style=" color:#000000; font-size:1.5rem; margin:0.5rem; ">{{request.user}}</span>

		<a style="margin-top: 15px;" href="{% url 'logout' %}">Logout</a>
	</div>
	{% else %}

	<a href="{% url 'login' %}">Login</a>

	{% endif %}
	<hr>
	<div style="display: flex; justify-content: center; align-items: center;">
		
			<a href="{% url 'task-create' %}" style="text-decoration: inherit;">
				<button style="padding: 25px 45px;  font-size: 1.2rem; border-radius: 10px; margin: 30px 0; color: white; cursor: pointer;background: #79999d; border: 1px solid grey;">
				Add task
			</button></a><!-- This will create new task  -->
	</div>
	<table style="border:1">
		
		<tr>
			<th>Item</th>
			<th>Action</th>
			<th>Action</th>
			<th>Action</th>
		</tr>
		{% for task in tasks %}
		<!-- my for loop begin here -->

		<tr>
			<td style=" font-size: 1.2rem; color:#000000; margin:1rem; ">{{task.title}}</td>
			<td><a href="{% url 'task' task.id %}" style="color: #1aa3e5;">View</a></td>
			<td><a href="{% url 'task-update' task.id %}" style="color: #3ec639;">Edit</a></td>
			<td><a href="{% url 'task-delete' task.id %}" style="color: #ce317e	;">Delete</a></td>
		</tr>
		{% empty %}
		<!-- In case the there is no data -->
		<div>No items in list</div>
		{% endfor %}
	</table>

	{% endblock content %}
</div>